<?xml version='1.0' encoding='utf-8'?>
<settings>
    <run_mode>eigenvalue</run_mode>
    <particles>5000</particles>
    <batches>45</batches>
    <inactive>5</inactive>
    <source strength="1.0">
        <space type="box">
            <parameters>-160 -160 -183 160 160 183</parameters>
        </space>
    </source>
</settings>
